/* ESTILIZAÇÕES GLOBAIS */
/* 
    CORES UTILIZADAS
    PRETO: #151515;
    VERMELHO: #EB1C23;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #151515;
    text-decoration: none;
}
button{
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #EB1C23;
    color: #EB1C23;
    font-size: 25px;
    border-width: 3px;
    font-weight: 700;
    outline: none;
}

body{
    background-color: #F5F5F5;
    height: 100vh;
    overflow: hidden;
}

/* MENU */
header{
    background-color: black;
    width: 100%;
    height: 4%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.253);
}
header .container{
    height: 100%;
    display: flex;
    justify-content: right;
}
.div_logo_sony{
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}
.div_logo_sony img{
    width: 100%;
    height: 100%;
}
/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO INICIO */
.div_inicio{
    width: 100%;
    height: 96%;
}
.div_inicio .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.div_slogan{
    text-align: left;
    width: 55%;
    height: 50%;
    margin: auto;
    margin-top: 12%;
}
.div_slogan h1 {
    font-weight: bold;
    font-size: 45px;
}
.div_slogan h4 {
    font-weight: 400;
    font-size: 25px;
    margin-top: 2%;
}
.destaque{
    color: #EB1C23;
}
h4 .destaque {
    font-weight:600;
}
.div_btn_inicio{
    display: flex;
    justify-content: center;
    height: 20%;
}
.div_btn_inicio button{
    border-radius: 20px;
    width: 20%;
    height: 60%;
    margin: auto;
    margin-top: 5%;
    transition: ease-in 0.35s ;
}
.div_btn_inicio button:hover{
    background-color: #EB1C23;
    color: #F5F5F5;
    transition: ease-in 0.35s ;
    cursor: pointer;
}
.btn_dark_mode{
    height: 7%;
    width: auto;
    margin-right: 4%;
    margin-top: 1%;
}
.btn_dark_mode img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.video_inicio{
    margin-right: 4%;
    margin-top: 5%;
}
#div_video{
    width: 100%;
    height: 100%;
}
/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO LOGIN */
.div_login{
    width: 100%;
    height: 96%;
}
.div_login .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.div_login .container .btn_dark_mode{
    height:7%; 
    width: auto;
    align-self: end;
}
.div_login .container .btn_dark_mode .src_icon{
    width: 100%;
    height: auto;
}
.div_aviso_login{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}
.div_aviso_login h1{
    font-size: 45px;
    font-weight: bold;
    color: #151515;
}
.div_aviso_login h5{
    font-size: 20px;
    font-weight: 500;
    color: #151515;
}
.card_login_cadastro{
    width: 35%;
    height: 60%;
    border-radius: 10px;
    background-color: #151515;
    margin: auto;
    box-shadow: 15px 10px 0px #EB1C23;
    display: flex;
}
.card_login_cadastro .container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.card_login_cadastro .container h1{
    color: #F5F5F5;
    margin-top: 3%;
    font-size: 30px;
}
.card_login_cadastro .container h5{
    color: #F5F5F5;
}
.div_input{
    width: 60%;
    height: 10%;
    border-radius: 11px;
    border-style: solid;
    border-width: 2px;
    border-color: #EB1C23;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.div_img_input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 15%;
    height: 100%;
    background-color: #EB1C23;
    float: left;
}
.div_img_input img{
    width: auto;
    height: 90%;
    margin-top: 5%;
}
.div_input input{
    width: 70%;
    height: 100%;
    float: left;
    margin-left: 5%;
    background-color: #151515;
    border-style: none;
    color:#ffffff;
    outline: 0;
    font-size: 20px;
    font-weight: medium;
}
.div_input input::placeholder{
    color: #DEDEDE;
}
.card_login_cadastro .container button{
    background-color: #EB1C23;
    width: 20%;
    height:9%;
    border-radius: 10px;
    border-style: none;
    color: #ffffff;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
    transition: ease-in 0.2s ;
}
.card_login_cadastro button:hover{
    background-color: #851317;
    transition: ease-in 0.2s ;
    cursor: pointer;
}
.card_login_cadastro button .destaque_btn{
    color: #F5F5F5;
}
.destaque_btn{
    color: #EB1C23;
    font-size: 18px;
    font-weight: normal;
}
.card_login_cadastro .container button h5{
    font-size: 13px;
    width: 100%;
    font-weight: normal;
}
.div_login .container a h5{
    font-weight: normal;
    margin-top: 5%;
    font-size: 13px;
}
.container2{
    float: left;
    width: 50%;
    height: 100%;
    display: none;
    opacity: 0;
    animation: opacidade 3s ;
    border-left: solid #EB1C23 2px;
    text-align: center;
}
.container2 h1{
    color: #F5F5F5;
    margin-top: 3%;
    font-size: 30px;
}
.container2 button{
    background-color: #EB1C23;
    border-radius: 10px;
    border-style: none;
    margin-top: 7%;
    width: 25%;
    height:9%;
}
@keyframes opacidade {
    0%   { opacity: 0; }
    18%   { opacity: 0; }
    100% { opacity: 1; }
  }

.div_porco_aranha{
    margin-left: 80%;
    margin-top: 25%;
    position: absolute;
    width: 20%;
    height: 50%;
}
.div_porco_aranha img{
    margin-left: 35%;
    width: 100%;
    height: 80%;
}
/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO LOGIN */
.div_dashboardU{
    width: 100%;
    height: 96%;
    display: flex;
}
.div_dashboardU .containerA{
    height: 100%;
    width: 45%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.div_dashboardU .containerA .div_txt{
    margin-left: auto;
    margin-right: auto;
}
.div_dashboardU .containerA h2{
    color: #151515;
    font-size: 30px;
    font-weight:500;
}
.div_dashboardU .containerA h5{
    color: #151515;
    font-size: 18px;
}
.div_dashboardU .containerA .div_txt hr{
    height: 7%;
    width: 100%;
    background-color: #EB1C23;
    border-style: none;
}
.div_dashboardU .containerA span{
    color:#EB1C23;
    font-weight: bold;
}
.containerA #span2{
    color:#151515;
    font-weight:bold;
}
.div_dashboardU .div_img{
    height: 67%;
    margin-left: 10%;
}
.div_dashboardU .div_img img{
    height: 100%;
    width: auto;    
}
.div_dashboardU .div_logout{
    height: 7%;
    width: auto;
    margin: auto;
    margin-left: 20%;

    transform: scaleX(-1);
    justify-content: start;
}
.div_dashboardU .div_logout img{
    height: 100%;
    width: auto;  
}
.div_dashboardU .containerB{
    height: 80%;
    width: 55%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.div_box_card{
    width: 50%;
    height: 30%;
    flex-direction: column;
    margin-left: 5%;
}
.containerB .box_card{
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #151515;
    box-shadow: #EB1C23 10px -10px 0;
    display: flex;
    flex-direction: column;
}
.containerB .box_card .img_card{
    width: auto;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.containerB .box_card .img_card img{
    width: auto;
    height: 100%;
}
.containerB .box_card button{
    border-radius: 10px;
    background-color: #0B689E;
    color: #F5F5F5;
    border-style: none;
    width: 40%;
    height: 13%;
    margin: auto;
    margin-top: 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.desc_box_card{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #151515b6;
    float: left;
    opacity: 0;
    text-align: center;
}
.desc_box_card h1{
    color: #0596EB;
    margin-top: 10%;
    font-size: 13px;
    font-weight: bold;
}
.desc_box_card p{
    color:#F5F5F5;
    margin-top: 5%;
    font-size: 13px;
    font-weight: 200;
    padding-left: 10%;
    text-align: start;
}
#box_card2{
    margin-left: 60%;
    margin-top: 2%;
}
#box_card3{
    margin-top: 2%;
}
#box_card3 button{
    width: 50%;
}
/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO VOTAÇÃO */

.div_votacao{
    width: 100%;
    height: 100%;
}
.div_votacao .container .btn_dark_mode{
    height: 20%;
}
.div_votacao .container{
    width: 100%;
    height: 30%;
    display: flex;
}
.div_votacao .container .div_img_voltar{
    width: 3.5%;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
}
.div_votacao .container .div_img_voltar img{
    height: 100%;
    width: auto;
    transform: scaleX(-1);
    

}
.div_votacao .container .txt_centro{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt_centro span{
    color: #EB1C23;
    font-weight: bold;
}
.txt_centro .titulo{
    margin: auto;
}

.txt_centro .titulo hr{
    width: 100%;
    height: 10%;
    border-style: none;
    background-color: #EB1C23;
}
.txt_centro .titulo h1{
    font-size: 45px;
}
.div_votacao .container .txt_centro p{
    font-size: 18px;
    color:#151515;
    font-weight:500;
}
.div_votacao .container .txt_centro h5{
    font-size: 18px;
    color:#151515;
    font-weight:600;
}
.div_votacao .containerV{
    width: 100%;
    height: 65%;
}
.div_viloes{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    flex-wrap: flex;
    flex-direction: column;
}
.card_viloes{
    height: 100%;
    width: 14.15%;
    float: left;
}
.card_viloes .img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position-x: 50%;
    border-style: solid;
    border-color: #151515;
    border-top-width: 8px;
    border-left-width: 7px;
}
.card_viloes .img:hover{
    border-top-color: #EB1C23;
    cursor: pointer;
}.card_viloes .img .nome:hover{
    background-color: #15151500;
}
.card_viloes .img .nome{
    background-color: #15151588;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}
.card_viloes .img .nome h1{
    color: #F5F5F5;
    text-shadow: 2px 2px 0 #eb1c23a6;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}
.card_viloes #img1{
    background-image: url(../img/viloes/DuendeMacabro.jpg);
}
.card_viloes #img2{
    background-image: url(../img/viloes/carnificina.jpg);
}
.card_viloes #img3{
    background-image: url(../img/viloes/chacaljpg.jpg);
}
.card_viloes #img4{
    background-image: url(../img/viloes/morbius.jpeg);
}
.card_viloes #img5{
    background-image: url(../img/viloes/mysterio.png);
}
.card_viloes #img6{
    background-image: url(../img/viloes/kaine.jpg);
}
.card_viloes #img7{
    background-image: url(../img/viloes/kraven.jpg);
    border-right-width: 7px;
}
/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO Spider-hit */

.div_spider_Hit{
    width: 100%;
    height: 100%;
}
.div_spider_Hit .container .btn_dark_mode{
    height: 100%;
    margin-top: 0;
}
.div_spider_Hit .container{
    width: 100%;
    height: 6%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.div_spider_Hit .container .div_img_voltar{
    width: 3%;
    height: 100%;
    margin-left: 5%;
    justify-content: flex-start;
}
.div_spider_Hit .container .div_img_voltar img{
    height: 100%;
    transform: scaleX(-1);
    margin: auto;
}
.div_spider_Hit .container .SpiderPoints{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.SpiderPoints span{
    color:#EB1C23;
    
}
.SpiderPoints h5{
    font-size: 18px;
    font-weight: bold;
}
.div_spider_Hit .containerA{
    width: 100%;
    height: 50%;
    border-style: none;
    display: flex;
    margin-top: 5%;
}
.desc_minigame{
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.div_spider_Hit .containerA .titulo{
    margin-right: auto;
}
.div_spider_Hit .containerA .titulo hr{
    border-style: none;
    background-color: #EB1C23;
    width: 100%;
    height: 10%;

}
.desc_minigame h1{
    font-size: 45px;
    font-weight: bold;
}
.desc_minigame h4{
    font-weight: normal;
    font-size: 18px;
    margin-top: 3%;
}
.desc_minigame h5{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5%;
}
.desc_minigame span{
    color: #EB1C23;
}
.iniciar_card{
    width: 100%;
    height: 100%;
    background-color: #EB1C23;
    justify-content: center;
}
.iniciar_card button{
    margin-left: 45%;
    margin-top: 20%;
    width: 10%;
    background-color: #EB1C23;
    border-color: #151515;
    color: #151515;
    border-radius: 10px;
    cursor: pointer;
}
.card_minigame{
    width: 55%;
    height: 100%;
    background-color: #151515;
    box-shadow: 15px 10px 0px #EB1C23;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card_minigame_tela{
    width: 100%;
    height: 70%;
    background-image: url(../img/spiderhit/fundo.gif);
    background-position-y: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content:space-evenly;
}
.card_minigame_menu{
    background-color: #0B689E;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}
.card_minigame_tela #j1{
    width: auto;
    height: 50%;
    margin-top: 12%;
    margin-left: 20%;
}
#j1 img{
    width: auto;
    height: 100%;
    image-rendering: pixelated;
}
.card_minigame_tela #j2{
    width: auto;
    height: 50%;
    margin-top: 12%;
    margin-right: 20%;
}
#j2 img{
    width: auto;
    height: 100%;
    image-rendering: pixelated;
    transform: scalex(-1);
}
/* JOGADAOR 1 */

.card_minigame_statusJ1{
    height: 100%;
    width: 50%;
    display: flex;
    border-right: solid #EB1C23 8px;
}
.icon_j1{
    width: 20%;
    height: 60%;
    background-color: #EB1C23;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.card_minigame_statusJ1 img{
    width:auto;
    height:70%;
    margin: auto;
}
.info_j1{
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info_j1 h1{
    font-size: 15px;
    font-weight: bold;
    color: #F5F5F5;

}
.barra_vida_j1{
    background-color: #EB1C23;
    height: 10%;
    width: 80%;  
    border-radius: 10px;
}
.vida_j1{
    width: 100%;
    height: 100%;
    background-color: #22E91E;
    border-radius: 20px;
}

.info_j1 h5{
    font-size: 15px;
    font-weight: normal;
    color: #F5F5F5;
}
.tecla_j1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img_tecla1_j1{
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}
.img_tecla1_j1 img{
    width: 100%;
    height: 100%;
}
.img_tecla2_j1{
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}
.img_tecla2_j1 img{
    width: 100%;
    height: 100%;
}

/* JOGADAOR 2 */

.card_minigame_statusJ2{
    height: 100%;
    width: 50%;
    display: flex;
}
.icon_j2{
    width: 20%;
    height: 60%;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.card_minigame_statusJ2 img{
    width:auto;
    height:70%;
    margin: auto;
}
.info_j2{
    width: 72%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: end;
}
.info_j2 h1{
    font-size: 15px;
    font-weight: bold;
    color: #F5F5F5;
}
.barra_vida_j2{
    background-color: #EB1C23;
    height: 10%;
    width: 80%;  
    border-radius: 10px;
    align-self: end;
}
.vida_j2{
    width: 100%;
    height: 100%;
    background-color: #22E91E;
    border-radius: 10px;
}

.info_j2 h5{
    font-size: 15px;
    font-weight: normal;
    color: #F5F5F5;
}
.tecla_j2{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img_tecla1_j2{
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}
.img_tecla1_j2 img{
    width: 100%;
    height: 100%;
}
.img_tecla2_j2{
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}
.img_tecla2_j2 img{
    width: 100%;
    height: 100%;
}
.div_img_fundo{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 2%;
}
.div_img_fundo .img_venom{
    width: auto;
    height: 80%;
    transform: scaleX(-1);
    margin-left: 2%;
}
.div_img_fundo .img_venom img{
    width: auto;
    height: 100%;
}
.div_img_fundo .img_superiorsm{
    width: auto;
    height: 80%;    
    margin-top: 1%;
    margin-left: 10%;
}
.div_img_fundo .img_superiorsm img{
    width: auto;
    height: 100%;
}