/* ESTILIZAÇÕES GLOBAIS */
/* 
    CORES UTILIZADAS
    PRETO: #151515;
    VERMELHO: #EB1C23;
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: 0.5s;
    color: #151515;
}

/* ANIMAÇÕES UTILIZADAS */
@keyframes circulate {
    0% {
        border-image: linear-gradient(to right, #eb1c23a6, #0596EB) 1;
        border-image-slice: 1;
    }

    25% {
        border-image: linear-gradient(to bottom, #eb1c23a6, #0596EB) 1;
        border-image-slice: 1;
    }

    50% {
        border-image: linear-gradient(to left, #eb1c23a6, #0596EB) 1;
        border-image-slice: 1;
    }

    75% {
        border-image: linear-gradient(to top, #eb1c23a6, #0596EB) 1;
        border-image-slice: 1;
    }

    100% {
        border-image: linear-gradient(to right, #eb1c23a6, #0596EB) 1;
        border-image-slice: 1;
    }
}

@keyframes animacao_spiderhit {

    0%, 100% {
        background-color: #0597eb70; /* Cor inicial */
    }
    50% {
        background-color: #EB1C2370; /* Cor pulsante */
    }
}

@keyframes animacao_entrada {
    0% {
        margin-left: -100%;
        filter: blur(20px);
    }

    100% {
        margin-left: 10%;
    }
}

@keyframes animacao_fundo {
    0% {
        filter: drop-shadow(3px 3px 50px #EB1C2300);
    }

    16% {
        filter: drop-shadow(-5px 5px 10px #eb1c23);
    }

    32% {
        filter: drop-shadow(5px 5px 0px #eb1c23);
    }

    48% {
        filter: drop-shadow(-5px -5px 10px #eb1c23);
    }

    64% {
        filter: drop-shadow(5px -5px 0px #eb1c23);
    }

    80% {
        filter: drop-shadow(5px -5px 10px #eb1c23);
    }

    96% {
        filter: drop-shadow(5px -5px 25px #eb1c2330);
    }

    100% {
        filter: drop-shadow(3px 3px 50px #eb1c2300);
    }
}

/*----------------------------------------------------------------------------------------------------------------*/

body::before {
    content: "";
    background-image: url(../img/background/background-default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    /* Opacidade da imagem de fundo */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo */
}

body.index::before {
    background-image: none;
}

button {
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #EB1C23;
    color: #EB1C23;
    font-size: 25px;
    border-width: 3px;
    font-weight: 700;
    outline: none;
}

body {
    background-color: #EAEAEA;
    height: 100vh;
    overflow: hidden;
}

/* MENU */
header {
    background-color: black;
    width: 100%;
    height: 4%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.253);
}

header .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.div_logo_sony {
    height: auto;
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
}

.div_logo_sony img {
    width: 100%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO INICIO */
.div_inicio {
    width: 100%;
    height: 96%;
}

.div_inicio .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.div_slogan {
    text-align: left;
    width: 55%;
    height: 50%;
    margin: auto;
    margin-top: 12%;
}

.div_slogan h1 {
    font-weight: bold;
    font-size: 45px;
}

.div_slogan h4 {
    font-weight: 400;
    font-size: 25px;
    margin-top: 2%;
}

.destaque {
    color: #EB1C23;
}

h4 .destaque {
    font-weight: 600;
}

.div_btn_inicio {
    display: flex;
    justify-content: center;
    height: 20%;
}

.div_btn_inicio button {
    border-radius: 100px;
    width: 15%;
    height: 70%;
    font-size: 25px;
    box-shadow: 0px 0px 0px #1D1E22;
    margin: auto;
    margin-top: 5%;
    transition: 0.2s;
    cursor: pointer;
    background-color: #EB1C2300;
}

.div_btn_inicio button:hover {
    background-color: #EB1C23;
    color: #f5f5f5;
    box-shadow: 7px 8px 0px #1D1E22;
}

.btn_dark_mode {
    height: 6%;
    width: 6%;
    margin-right: 4%;
    margin-top: 1%;
}

.btn_dark_mode img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

/* Não tem mais o video  porém os nomes das tags eu mantive para deixar a logo aranha*/
.video_inicio {
    margin-right: 4%;
    margin-top: 5%;
}

#div_video {
    width: 100%;
    height: 100%;
}

video {
    transition: 1s;
}

video:hover {
    transform: scale(1.1);
    transition: 1s;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO LOGIN */
.div_login {
    width: 100%;
    height: 96%;
    background-image: url(../img/background/background-login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.div_login .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.login_box {
    width: 40%;
    height: 100%;
    background-color: #15151577;
    backdrop-filter: blur(4px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_box form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.login_box h1 {
    color: #ffffff;
    margin-bottom: 5%;
}

.login_box .div_input {
    width: 60%;
    height: 6%;
    border-radius: 100px;
    background-color: #3c383844;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

.login_box .div_input input {
    width: 80%;
    height: 100%;
    background-color: #3c383800;
    border-style: none;
    color: #ffffff;
    outline: 0;
    font-size: 16px;
}

.div_input input::placeholder {
    color: #DEDEDE;
}

input:-webkit-autofill {
    background-color: #0597eb00 !important;
    /* Altere a cor conforme necessário */
    transition: background-color 100000000000s ease-in-out 0s;
    /* Transição para suavizar a mudança */
    -webkit-text-fill-color: #ffffff !important;
}

#link_cadastro {
    margin-top: 1%;
    margin-bottom: 5%;
}

#link_cadastro a {
    display: inline;
    color: #0596EB;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;

}

#form_login button {
    background-color: #C6141A;
    width: 60%;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    cursor: pointer;
}

#form_login button p {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

#div_erro {
    color: #C6141A;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO CADASTRO */

.div_cadastro {
    width: 100%;
    height: 96%;
    background-image: url(../img/background/background-cadastro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div_cadastro .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.cadastro_box {
    width: 40%;
    height: 100%;
    background-color: #15151577;
    backdrop-filter: blur(4px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro_box .div_btn_sair {
    width: auto;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cadastro_box .div_btn_sair a {
    height: 100%;
    width: auto;
    margin-right: 10%;
    cursor: pointer;
}

.cadastro_box .div_btn_sair a img {
    height: 100%;
}

.cadastro_box form {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cadastro_box h1 {
    color: #ffffff;
}

.cadastro_box .div_input {
    width: 60%;
    height: 100%;
    border-radius: 100px;
    background-color: #3c38387e;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.cadastro_box .div_input input {
    width: 80%;
    height: 100%;
    background-color: #3c383800;
    border-style: none;
    color: #ffffff;
    outline: 0;
    font-size: 16px;
}

.div_input input::placeholder {
    color: #DEDEDE;
}

#div_forca_senha {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nivel_forca {
    background-color: #D9D9D9;
    height: 50%;
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 100px;
}

#form_cadastro button {
    background-color: #C6141A;
    width: 60%;
    height: 100%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    cursor: pointer;
}

#form_cadastro button p {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO DASHBOARD */
.div_dashboardU {
    width: 100%;
    height: 96%;
    display: flex;
}

.container_btn {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: end;
    margin-top: 2%;
}

.container_btn .div_logout {
    height: 100%;
    width: auto;
    margin-right: 3%;
}

.container_btn .div_logout img {
    height: 100%;
    width: auto;
}

.container_btn .btn_dark_mode {
    height: 100%;
    width: auto;
    margin-top: 0%;
}

.div_dashboardU .containerA {
    height: 100%;
    width: 45%;
    margin-top: -2%;
    display: flex;
    flex-direction: column;
}

.div_dashboardU .containerA .div_txt {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.div_dashboardU .containerA h2 {
    color: #151515;
    font-size: 30px;
    font-weight: 500;
}

.div_dashboardU .containerA h5 {
    color: #151515;
    font-size: 18px;
}

.div_dashboardU .containerA .div_txt hr {
    height: 7%;
    width: 100%;
    background-color: #EB1C23;
    border-radius: 100px;
    border-style: none;
}

.div_dashboardU .containerA h5 {
    color: #0596EB;
    font-weight: bold;
}

.containerA #span2 {
    color: #151515;
    font-weight: bold;
}

.div_dashboardU .div_img {
    height: 67%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    animation: animacao_entrada 0.4s linear;
}



.div_dashboardU .div_img img {
    height: auto;
    width: 100%;
    -webkit-animation: animacao_fundo 2s linear;
    -moz-animation: animacao_fundo 2s linear;
    -ms-animation: animacao_fundo 2s linear;
    -o-animation: animacao_fundo 2s linear;
    animation: animacao_fundo 2s linear;
    animation-delay: 0.4s;
}

.div_dashboardU .containerB {
    height: 91%;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.div_box_card {
    margin-right: 25%;
    width: 50%;
    height: 25%;
    margin-top: 3%;
}

.containerB .box_card {
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.containerB .box_card .img_card {
    width: auto;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.containerB .box_card .img_card img {
    width: auto;
    height: 90%;
    margin: auto;
    transition: 1s;
}

@keyframes animacao {
    0% {
        filter: drop-shadow(3px 5px 0px #EB1C23);
    }

    5% {
        filter: drop-shadow(3px 5px 0px #eb1c2300);
    }

    15% {
        filter: drop-shadow(3px 5px 0px #eb1c2300);
    }

    30% {
        filter: drop-shadow(3px 5px 0px #EB1C23);
    }

    35% {
        filter: drop-shadow(3px 5px 0px #EB1C2300);
    }

    40% {
        filter: drop-shadow(3px 5px 0px #eb1c23);
    }

    45% {
        filter: drop-shadow(3px 5px 0px #EB1C2300);
    }

    50% {
        filter: drop-shadow(3px 5px 0px #eb1c23);
    }

    100% {
        filter: drop-shadow(3px 5px 0px #eb1c2300);
    }
}

.containerB .box_card:hover .img_card img {
    transform: scale(1.10);
    transition: 2s;

    -webkit-animation: animacao 1s linear;
    -moz-animation: animacao 1s linear;
    -ms-animation: animacao 1s linear;
    -o-animation: animacao 1s linear;
    animation: animacao 1s linear;
    animation-delay: 0.4s;
}

.containerB .box_card button {
    border-radius: 10px;
    background-color: #EB1C23;
    color: #F5F5F5;
    border-style: none;
    width: 60%;
    height: 15%;
    margin: auto;
    margin-top: 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.desc_box_card {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #151515b6;
    float: left;
    opacity: 0;
    text-align: center;
}

.desc_box_card h1 {
    color: #0596EB;
    margin-top: 10%;
    font-size: 13px;
    font-weight: bold;
}

.desc_box_card p {
    color: #F5F5F5;
    margin-top: 5%;
    font-size: 13px;
    font-weight: 200;
    padding-left: 10%;
    text-align: start;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO VOTAÇÃO */

.div_votacao {
    width: 100%;
    height: 100%;
}

.div_votacao .container .btn_dark_mode {
    height: 20%;
}

.div_votacao .container {
    width: 100%;
    height: 30%;
    display: flex;
}

.div_votacao .container .div_img_voltar {
    height: 18%;
    margin-left: 5%;
    margin-top: 2%;
}

.div_votacao .container .div_img_voltar img {
    height: 100%;
}

.div_votacao .container .txt_centro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_votacao .container .txt_centro span {
    font-size: 18px;
    font-weight: 600;
    color: #0596EB;
}

.div_votacao .container .txt_centro #span_sp {
    color: #151515;
}

.div_votacao .container.txt_centro .titulo hr {
    width: 100%;
    height: 10%;
    border-style: none;
    background-color: #EB1C23;
}

.div_votacao .container.txt_centro .titulo h1 {
    font-size: 45px;
}

.div_votacao .container .txt_centro p {
    font-size: 18px;
    color: #151515;
    font-weight: 500;
}

.div_votacao .container .txt_centro h5 {
    font-size: 18px;
    font-weight: 600;
    color: #0596EB;
}

.div_votacao .containerV {
    width: 100%;
    height: 65%;
}

.div_viloes {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    flex-wrap: flex;
    flex-direction: column;
}

.card_viloes {
    height: 100%;
    width: 14.15%;
    float: left;
    display: flex;
    flex-direction: column;
}

.card_viloes .img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position-x: 50%;
    border-style: solid;
    border-color: #151515;
    border-width: 8px;
    transition: 0.2s;
}

.conteudo_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.conteudo_card:hover {
    background-color: #15151588;
}

.card_viloes .img:hover {
    animation: circulate 2s linear infinite;
    border-color: #EB1C23;
    transform: scale(1.05);
    transition: 0.2s;
}

.card_viloes .img .nome {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

.card_viloes .img .nome h1 {
    color: #F5F5F5;
    text-shadow: 2px 2px 0 #eb1c23a6;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.card_viloes .img .nome:hover h1 {
    color: #ffaeae;
}

.conteudo_card .div_votar {
    width: 100%;
    height: 10%;
    margin: auto;
    text-align: center;
    margin-top: 0%;
    visibility: hidden;
    transition-delay: 0ms;
}

.conteudo_card .div_votar h4 {
    color: #f5f5f5;
    text-shadow: 2px 2px 0 #eb1c23a6;
    font-size: 20px;
    font-weight: bold;
}

.conteudo_card .div_imgs_votar {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteudo_card .div_imgs_votar img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.qtd_votos {
    margin: auto;
    width: 80%;
    text-align: center;
    visibility: hidden;
}

.qtd_votos h2 {
    color: #F5F5F5;
    background-color: #151515ec;
    border-radius: 10px;
}

.qtd_votos span {
    color: #EB1C23;
}

.card_viloes #img1 {
    background-image: url(../img/viloes/DuendeMacabro.jpg);
}

.card_viloes #img2 {
    background-image: url(../img/viloes/carnificina.jpg);
}

.card_viloes #img3 {
    background-image: url(../img/viloes/chacaljpg.jpg);
}

.card_viloes #img4 {
    background-image: url(../img/viloes/morbius.jpeg);
}

.card_viloes #img5 {
    background-image: url(../img/viloes/mysterio.png);
}

.card_viloes #img6 {
    background-image: url(../img/viloes/kaine.jpg);
}

.card_viloes #img7 {
    background-image: url(../img/viloes/kraven.jpg);
    border-right-width: 7px;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO Spider-hit */

.div_spider_Hit {
    width: 100%;
    height: 100%;
}

.div_spider_Hit .container .btn_dark_mode {
    height: 100%;
    margin-top: 0;
}

.div_spider_Hit .container {
    width: 100%;
    height: 6%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.div_spider_Hit .container .div_img_voltar {
    width: 3%;
    height: 100%;
    margin-left: 5%;
    justify-content: flex-start;
}

.div_spider_Hit .container .div_img_voltar img {
    height: 100%;
    margin: auto;
}

.div_spider_Hit .container .SpiderPoints {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.SpiderPoints h5 {
    color: #0596EB;
    font-size: 18px;
    font-weight: bold;
}

.div_spider_Hit .containerA {
    width: 100%;
    height: 50%;
    border-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.desc_minigame {
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.div_spider_Hit .containerA .titulo {
    margin-right: auto;
}

.div_spider_Hit .containerA .titulo hr {
    border-style: none;
    background-color: #EB1C23;
    width: 100%;
    height: 8%;

}

.desc_minigame h1 {
    font-size: 45px;
    font-weight: bold;
}

.desc_minigame h4 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 3%;
}

.desc_minigame h4 span {
    color: #0596EB;
    font-weight: bold;
}

.desc_minigame h5 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5%;
}

.desc_minigame .destaque {
    color: #0596EB;
}

.tecla_desc {
    color: #EB1C23;
}

.iniciar_card {
    width: 55%;
    height: 50%;
    border-radius: 10px;
    background: #eb1c2370;
    background-size: 100% 200%;
    animation: animacao_spiderhit 1.5s infinite;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.iniciar_card button {
    margin: auto;
    width: 20%;
    height: 15%;
    background-color: #15151500;
    border-color: #151515;
    border-width: 4px;
    color: #151515;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.iniciar_card button:hover {
    transition: 0.2s;
    color: #f5f5f5;
    background-color: #151515;
}

.card_minigame {
    width: 55%;
    height: 100%;
    background-color: #151515;
    /* box-shadow: 15px 10px 0px #EB1C23; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_minigame_tela {
    width: 100%;
    height: 70%;
    margin-top: -4%;
    background-image: url(../img/spiderhit/fundo.gif);
    background-position-y: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.div_rodada {
    background-color: #0B689E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    font-size: 12px;
    text-align: center;
}

.div_rodada h1 {
    color: #f5f5f5;
}

.card_minigame_menu {
    background-color: #0B689E;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.card_minigame_tela #j1 {
    width: auto;
    height: 50%;
    margin-top: 12%;
    margin-left: 20%;
}

#j1 img {
    width: auto;
    height: 100%;
    image-rendering: pixelated;
}

.card_minigame_tela #j2 {
    width: auto;
    height: 50%;
    margin-top: 12%;
    margin-right: 20%;
}

#j2 img {
    width: auto;
    height: 100%;
    image-rendering: pixelated;
    transform: scaleX(-1);
}

/* JOGADAOR 1 */

.card_minigame_statusJ1 {
    height: 100%;
    width: 50%;
    display: flex;
    border-right: solid #EB1C23 8px;
}

.icon_j1 {
    width: 20%;
    height: 60%;
    background-color: #EB1C23;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}

.card_minigame_statusJ1 img {
    width: auto;
    height: 70%;
    margin: auto;
}

.info_j1 {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info_j1 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #F5F5F5;

}

.barra_vida_j1 {
    background-color: #EB1C23;
    height: 10%;
    width: 80%;
    border-radius: 10px;
}

.vida_j1 {
    width: 100%;
    height: 100%;
    background-color: #22E91E;
    border-radius: 20px;
}

.info_j1 h5 {
    font-size: 15px;
    font-weight: normal;
    color: #F5F5F5;
    width: 15%;
    float: left;
}

.info_j1 .div_hp {
    width: 80%;
    height: 20%;
    display: flex;
}

.info_j1 .div_hp .div_coracao {
    height: 100%;
    margin-left: 30%;
    margin-top: 1%;
}

.div_coracao img {
    width: auto;
    height: 100%;
}

.tecla_j1 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_tecla1_j1 {
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}

.img_tecla1_j1 img {
    width: 100%;
    height: 100%;
}

.img_tecla2_j1 {
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}

.img_tecla2_j1 img {
    width: 100%;
    height: 100%;
}

/* JOGADAOR 2 */

.card_minigame_statusJ2 {
    height: 100%;
    width: 50%;
    display: flex;
}

.icon_j2 {
    width: 20%;
    height: 60%;
    background-color: #151515;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}

.card_minigame_statusJ2 img {
    width: auto;
    height: 70%;
    margin: auto;
}

.info_j2 {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: end;
}

.info_j2 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #F5F5F5;
}

.barra_vida_j2 {
    background-color: #EB1C23;
    height: 10%;
    width: 80%;
    border-radius: 10px;
    align-self: end;
}

.vida_j2 {
    width: 100%;
    height: 100%;
    background-color: #22E91E;
    border-radius: 10px;
}

.info_j2 .div_hp {
    width: 80%;
    height: 23%;
    display: flex;
    margin-left: 20%;
    justify-content: end;
}

.info_j2 .div_hp .div_coracao {
    height: 100%;
    margin-top: 1%;
    margin-right: 50%;
}

.info_j2 h5 {
    font-size: 15px;
    font-weight: normal;
    color: #F5F5F5;
}

.tecla_j2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_tecla1_j2 {
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}

.img_tecla1_j2 img {
    width: 100%;
    height: 100%;
}

.img_tecla2_j2 {
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}

.img_tecla2_j2 img {
    width: 100%;
    height: 100%;
}

.div_img_fundo {
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 2%;
}

.div_img_fundo .img_venom {
    width: auto;
    height: 80%;
    margin-left: 2%;
}

.div_img_fundo .img_venom img {
    width: auto;
    height: 100%;
    transform: scaleX(-1);
}

.div_img_fundo .img_superiorsm {
    width: auto;
    height: 80%;
    margin-top: 1%;
    margin-left: 10%;
}

.div_img_fundo .img_superiorsm img {
    width: auto;
    height: 100%;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO LOJA */
.div_loja {
    width: 100%;
    height: 100%;
}

.div_loja .container .btn_dark_mode {
    height: 100%;
    margin-top: 0;
}

.div_loja .container {
    width: 100%;
    height: 6%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.div_loja .container .div_img_voltar {
    width: 3%;
    height: 100%;
    margin-left: 5%;
    justify-content: flex-start;
}

.div_loja .container .div_img_voltar img {
    height: 100%;
    margin: auto;
}

.div_loja .container .SpiderPoints {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SpiderPoints h5 {
    font-size: 18px;
    font-weight: bold;
}

.div_loja .containerTxt {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.div_loja .containerTxt h4 {
    font-size: 18px;
    width: 60%;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.div_loja .containerTxt .titulo {
    margin: auto;
}

.div_loja .containerTxt .titulo h1 {
    font-size: 45px;
    font-weight: bold;
}

.div_loja .containerTxt .titulo hr {
    width: 100%;
    height: 10%;
    background-color: #EB1C23;
    border-style: none;
}

.div_loja .containerCards {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.containerCards .cardItem {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerCards .cardItem .div_img {
    width: 100%;
    height: 65%;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.div_img .sp {
    width: 100%;
    height: 100%;
    display: flex;
}

.div_img .sp h4 {
    width: 100%;
    background-color: #0b689e9d;
    margin-top: 55%;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #F5F5F5;
    font-size: 15px;
    font-weight: 500;
}

.containerCards .cardItem .txt_card h5 {
    font-size: 15px;
    font-weight: 500;
}

.containerCards .cardItem .txt_card h4 {
    font-size: 15px;
    font-weight: bold;
}

.containerCards .cardItem button {
    background-color: #151515;
    width: 40%;
    height: 22%;
    border-style: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #F5F5F5;
    margin: auto;
    cursor: pointer;
}

.containerCards .cardItem button span {
    color: #EB1C23;
}

.cardItem #img1 {
    background-image: url(../img/loja/capa-spiderMan-miles.png);
}

.cardItem #img2 {
    background-image: url(../img/loja/Spider-Man-capa.jpg);
}

.cardItem #img3 {
    background-image: url(../img/loja/Spider-Man2-capa.jpeg);
}

.cardItem #img4 {
    background-image: url(../img/loja/wolverine-capa.jpg);
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO DASHBOARD */
.div_dashboardA {
    width: 100%;
    height: 96%;
    display: flex;
}

.div_dashboardA .containerA {
    height: 95%;
    width: 65%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.div_dashboardA .containerA .div_txt {
    margin-left: auto;
    margin-right: auto;
}

.div_dashboardA .containerA h2 {
    color: #151515;
    font-size: 30px;
    font-weight: 500;
}

.div_dashboardA .containerA h5 {
    color: #151515;
    font-size: 18px;
    font-weight: 400;
}

.div_dashboardA .containerA .div_txt hr {
    height: 4%;
    width: 100%;
    background-color: #EB1C23;
    border-style: none;
}

.div_dashboardA .containerA span {
    color: #EB1C23;
    font-weight: bold;
}

.containerA #span2 {
    color: #151515;
    font-weight: bold;
}

.div_dashboardA .div_img {
    height: 67%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    animation: animacao_entrada 0.4s linear;
}

.div_dashboardA .div_img img {
    height: auto;
    width: 100%;
    animation: animacao_fundo 2s linear;
    animation-delay: 0.4s;
}

.div_dashboardA .div_logout {
    height: 7%;
    width: auto;
    margin: auto;
    margin-left: 5%;

    transform: scaleX(-1);
    justify-content: start;
}

.div_dashboardA .div_logout img {
    height: 100%;
    width: auto;
}

.div_dashboardA .containerB {
    height: 85%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.containerB .div_grafico {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
}

.containerB .card_grafico {
    width: 45%;
    height: 100%;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 10px 5px 0px #eb1c238a;
    transition: 0.5s;
}

.containerB .card_grafico:hover {
    transition: 0.5s;
    box-shadow: 10px 5px 0px #EB1C23;
}

.containerB .div_registros {
    width: 30%;
    height: 30%;
    background-color: #0B689E;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 5px 0px #eb1c238a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.containerB .div_registros:hover {
    transition: 0.5s;
    box-shadow: 10px 5px 0px #EB1C23;
}

.div_img_registro {
    height: 50%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.div_img_registro img {
    width: auto;
    height: 100%;
    filter: drop-shadow(2px 2px #15151560);
}

.containerB .div_registros h1 {
    color: #f5f5f5;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 0%;
    text-shadow: 3px 2px 0px #15151580;
}

/*----------------------------------------------------------------------------------------------------------------*/

/* CONTEUDO DASHBOARD */

.div_registros {
    width: 100%;
    height: 100%;
}

.div_registros .container .btn_dark_mode {
    height: 20%;
}

.div_registros .container {
    width: 100%;
    height: 30%;
    display: flex;
}

.div_registros .container .div_img_voltar {
    width: 3.5%;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
}

.div_registros .container .div_img_voltar img {
    height: 100%;
    width: auto;
    transform: scaleX(-1);


}

.div_registros .container .txt_centro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.txt_centro .titulo {
    margin: auto;
}

.txt_centro .titulo hr {
    width: 100%;
    height: 10%;
    border-style: none;
    background-color: #EB1C23;
}

.txt_centro .titulo h1 {
    font-size: 45px;
}

.div_registros .container .txt_centro p {
    font-size: 18px;
    color: #151515;
    font-weight: 500;
}

.div_registros .container .txt_centro h5 {
    font-size: 18px;
    color: #151515;
    font-weight: 600;
}

.div_registros .containerR {
    background-color: #6B0D10;
    border-radius: 10px;
    width: 90%;
    height: 60%;
    margin: auto;
    overflow: auto;
}

.containerR table {
    width: 100%;
    border-collapse: collapse;
    border-color: #6B0D10;
    margin-top: -1%;
}

.containerR table th {
    font-size: 20px;
    font-weight: bold;
    color: #e9e9e9;
    border-width: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #6B0D10;
}

.containerR table td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #f5f5f5;
    border-width: 0;
    border-left-width: 3px;
    height: 40px;
    border-style: solid;
    background-color: #eb1c23;
    text-align: center;
    border-color: #6B0D10;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
    background: #0596EB;
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
    background: #0B689E;
}